---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-centered">
                {{ site.highschool | inspect }}
                {% for year_folder in site.highschool %}
                    {% assign year = year_folder.name %}
                    {% if year_folder.isIndex %}
                        <div class="section">
                            <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">{{ year }}</p>
                        </div>
                        {% include project-card.html %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>   
    
    </div>

    <!--Footer-->
    {% include footer.html %}
</body>

</html>